.topBox {
  padding: 24px;
  border-radius: 14px;


  h1 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 14px;

    .listItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 16px;
      background-color: #ccacca;
      border-radius: 10px;
      transition: all 0.3s ease;

      &:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
      }

      .user {
        display: flex;
        align-items: center;
        gap: 14px;

        img {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          object-fit: cover;
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
        }

        .userTexts {
          display: flex;
          flex-direction: column;
          gap: 2px;

          .shipName {
            font-weight: 600;
            font-size: 14px;
          }

          .producer {
            font-size: 12px;
            color: #777;
          }
        }
      }

      .amount {
        font-weight: 600;
        font-size: 14px;
        color: #444;
      }
    }
  }
}
