.main {
  display: flex;
  flex-direction: column;
 
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;

  .container {
    display: flex;
    flex: 1;
    overflow: hidden;
  

    .menuContainer {
      width: 260p;
      padding: 20px;
    }

    .contentContainer {
      flex: 1;
      padding: 20px;
    }
  }
}
